<!-- IF postrow.U_SET_SOLVED -->
	<li>
	<!-- IF postrow.S_TOPIC_SOLVED -->
		<!-- IF TOPIC_SOLVED_PHPBB31 -->
			<a href="{postrow.U_SET_SOLVED}" title="{L_SET_TOPIC_NOT_SOLVED}"
				class="button icon-button topicsolved-icon unsolve-icon">
				<span>{L_SET_TOPIC_NOT_SOLVED}</span>
			</a>
		<!-- ELSE -->
			<a href="{postrow.U_SET_SOLVED}" title="{L_SET_TOPIC_NOT_SOLVED}" class="button button-icon-only">
				<i class="icon fa-check fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SET_TOPIC_NOT_SOLVED}</span>
			</a>
		<!-- ENDIF -->
	<!-- ELSE -->
		<!-- IF TOPIC_SOLVED_PHPBB31 -->
			<a href="{postrow.U_SET_SOLVED}" title="{L_SET_TOPIC_SOLVED}"
				class="button icon-button topicsolved-icon solve-icon">
				<span>{L_SET_TOPIC_SOLVED}</span>
			</a>
		<!-- ELSE -->
			<a href="{postrow.U_SET_SOLVED}" title="{L_SET_TOPIC_SOLVED}" class="button button-icon-only">
				<i class="icon fa-check fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SET_TOPIC_SOLVED}</span>
			</a>
		<!-- ENDIF -->
	<!-- ENDIF -->
	</li>
<!-- ENDIF -->
